# Core dependencies
streamlit==1.40.2
python-dotenv
requests

# Langchain + Groq
langchain==0.3.9
langchain-community==0.3.9
langchain-core==0.3.21
langchain-groq==0.2.1

# Additional utilities (only if used in your app)
pandas==2.2.3
pydeck==0.9.1
numpy==1.26.4
